<h1>Über uns</h1>
<h2>Flugsportausrüstung seit 1974</h2>
<p>
  Die Finsterwalder GmbH mit Sitz in München wurde 1974 gegründet und umfasst seit 1990 auch die seit vielen Jahren bekannte Marke Charly Produkte.
</p>
<h2>Unser Standort in München</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2661.269156723494!2d11.48565141526001!3d48.162893557376904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e77c7446662d1%3A0x1c2ee9b32393665!2sPagodenburgstra%C3%9Fe+8%2C+81247+M%C3%BCnchen!5e0!3m2!1sen!2sde!4v1540237743002"  class="img__float"></iframe>
<p>
  In unserer Münchner Zentrale steht der Groß- und Einzelhandel von Drachen- und Gleitschirmflugsportausrüstung wie Helme, Sportswear, usw. im Vordergrund. Auch Gurtschlösser für Gleitschirmgurtzeuge sowie Komponenten für Rettungsgeräte, Gleitschirme und Drachen werden in der Isarmetropole entwickelt, gefertigt und von dort aus im Großhandel vertrieben.
</p>
<p>
  Nach Schließung der Charly Niederlassung in Seeg / Allgäu Mitte 2016 ist unsere Serviceabteilung für Gurtzeuge und Rettungsgeräte zur Flugschule Hochries nach 83098 Brannenburg umgezogen. Dort und in unserer Werkstatt in München-Allach werden unsere Produkte von Tom Grabner und Thomas Finsterwalder weiterentwickelt.
</p>
