<h1>Charly beheizbare Handschuhe</h1>
<h2>Elektrisch beheizbare Handschuhe mit Lithium-Polymer-Ionen (Li-Po-Ion) Akku-Technologie</h2>
<%= image_tag("charly-battery-heated-gloves.jpg", class: "img-category img-fluid", alt: "Charly elektrisch beheizbare Handschuhe") %>
<p>
  Bisher k&ouml;nnen nur wenige Heizhandschuhe in Bezug auf Heizleistung und Heizdauer &uuml;berzeugen. Warum ist das so?
</p>
<p>
  Hersteller versprechen h&auml;ufig eine Heizdauer von bis zu 10 Stunden. Diese Heizdauer kann bestenfalls auf der kleinsten Heizstufe erreicht werden, was bei der Beheizung der Finger allerdings kaum sp&uuml;rbar ist. Damit kalte Finger warm werden, kommt es zudem darauf an, welche Fl&auml;chen beheizt werden. Es ist ung&uuml;nstig, den Handr&uuml;cken zu beheizen, denn ein beheizter Handr&uuml;cken verursacht eine schlechtere Durchblutung der Finger. Die W&auml;rmereize des Handr&uuml;ckens werden bei kalten Au&szlig;entemperaturen nach innen zur K&ouml;rpermitte hin geleitet und nicht weg von der K&ouml;rpermitte in die kalten Finger. Das f&uuml;hrt dazu, dass solche Handschuhe st&auml;ndig auf h&ouml;chster Heizstufe betrieben werden m&uuml;ssen und trotzdem die Finger nicht richtig warm werden.
</p>
<p>
  Dennoch muss auf warme Finger nicht verzichtet werden. In den Charly Heizhandschuhen haben wir die Platzierung der Heizdr&auml;hte optimiert. Heizdr&auml;hte in den beheizten Handschuhen von Charly verlaufen entlang der Finger. So wird bei gleicher Akkuleistung eine h&ouml;here Temperatur in den Fingerspitzen erreicht, was wiederum zur Erw&auml;rmung der gesamten Hand f&uuml;hrt. Durch diese Heiztechnik k&ouml;nnen nun auch d&uuml;nne, feinf&uuml;hlige Handschuhe ohne Isoliermaterial vor kalten Fingern sch&uuml;tzen.
</p>
<p>
  Die zuschaltbare Akku-Heizung ist auf die Finger und den Daumen konzentriert und wirkt dort besonders effektiv. Mit warmen Fingern gibt es auch am Handr&uuml;cken kein K&auml;lteproblem. Der Ladezustand der Batterie und die 3 Heizstufen werden durch rot, blau oder gr&uuml;n leuchtende, im Schalter integrierte LEDs angezeigt. Die Lithium-Polymer-Ionen (Li-Po-Ion) Akkus k&ouml;nnen beliebig oft aufgeladen werden und halten jahrelang. Sie sind auch bei gro&szlig;er K&auml;lte noch sehr leistungsf&auml;hig und erzeugen bis zu 6 Stunden angenehme Plustemperaturen.
</p>
