<div class="container--small container-mockup--height">

  <h1>Adminbereich</h1>
  <h2>Neuen Benutzer hinzufügen</h2>

  <%= render 'form', user: @user %>

  <button type="button" class="form__btn form__btn--secondary"><%= link_to 'Zur Benutzerübersicht', users_path %></button>

</div>
