// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// basic styles

.box {
  width: 100%;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  box-shadow: inset 0px 0px 1px 1px #e4e5e7;
}

.box--bottom {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  background-color: #e4e5e7;
  overflow: auto;
}

.box--bottom--overview {
  min-height: 240px;
}

.box--top {
  width: 100%;
  // height: 77px;
}

.container-mockup--height {
  min-height: calc(100vh - 159px);
}
