// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// basic styles

* {
  box-sizing: border-box;
}

body {
  position: relative;
  top: 100px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 80%;
  min-height: calc(100vh - 175px);
  margin: 0 auto;
}

.container--small {
  max-width: 555px;
}

.container-mockup--height {
  min-height: calc(100vh - 159px);
}

.container-mockup--left {
  margin-left: 10%;
}

.container-mockup--right {
  margin-right: 10%;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.message {
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.nowrap {
  white-space: nowrap;
}

.row {
  margin: 0 auto;
}

// basic images

.img__float {
  float: left;
  max-width: 350px;
  padding: 20px;
}

.img__icon {
  max-width: 150px;
  padding: 10px;
}

.img__product {
  max-width: 80%;
}

// basic typography

a:link, a:visited, a:hover, a.active {
  color: #55acee;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
  color: #333;
}

h1 {
  font-size: 2em;
  color: #55acee;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

// navigation

nav {
 background-color: #55acee;
}

nav a {
 transition: color 400ms;
 -webkit-transition: color 400ms;
}

nav a:link, nav a:visited {
  color: #333;
}

nav a:hover, nav a.active {
  color: #fff;
  text-decoration: none;
}

nav button a {
  transition: none;
  -webkit-transition: none;
}

nav button a:hover, nav button a.active {
  color: #333;
  text-decoration: none;
}

nav img {
 height: 60px;
 padding-left: 8px;
}

.nav-item {
  text-align: right;
}

.navbar-search {
  padding: 4px 0;
}

.navbar-search__submit {
  border-radius: 5px 0 0 5px;
}

.navbar-search__text-field {
  width: 150px;
  border-radius: 0 5px 5px 0;
}

.navbar-toggler {
  border-color: rgb(255,255,255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// content -> landing page

.carousel-caption {
  color: #333;
  background-color: #fff;
  opacity: .75;
}

.carousel-control-next, .carousel-control-next:hover, .carousel-control-prev, .carousel-control-prev:hover {
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #59adeb;
}

.carousel-indicators li {
  background-color: #333;
}

.carousel-inner {
  text-align: center;
}

.carousel-img {
  max-width: 40%;
}

.carousel-control {
  max-width: 20%;
}

// footer

footer {
  z-index: 1020;
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: #55acee;
}
