// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// basic styles

* {
  box-sizing: border-box;
}

body {
  position: relative;
  top: 100px;
}

.container {
  width: 80%;
  min-height: calc(100vh - 175px);
  margin: 0 auto;
}

.container-mockup__height {
  min-height: calc(100vh - 159px);
}

.container-mockup__left {
  margin-left: 10%;
}

.container-mockup__right {
  margin-right: 10%;
}

.row {
  margin: 0 auto;
}

// basic typography

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
  color: #333;
}

h1 {
  font-size: 2em;
  color: #55acee;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

// navigation

nav {
 background-color: #55acee;
}

nav a {
 transition: color 400ms;
 -webkit-transition: color 400ms;
}

nav a:link, nav a:visited {
  color: #333;
}

nav a:hover, nav a.active {
  color: #fff;
  text-decoration: none;
}

nav img {
 height: 60px;
 padding-left: 8px;
}

.nav-item {
  text-align: right;
}

.navbar-toggler {
  border-color: rgb(255,255,255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// content -> index

.img-category {
  float: left;
  max-height: 400px;
  padding: 20px;
}

// content -> landing page

.carousel-caption {
  color: #333;
  background-color: #fff;
  opacity: .75;
}

.carousel-control-next, .carousel-control-next:hover, .carousel-control-prev, .carousel-control-prev:hover {
  opacity: 1;
}

.carousel-control-next-icon {
  background-image: url("angle-right-solid.svg");
  height: 100px;
}

.carousel-control-prev-icon {
  height: 100px;
  background-image: url("angle-left-solid.svg");
}

.carousel-indicators .active {
  background-color: #59adeb;
}

.carousel-indicators li {
  background-color: #333;
}

.carousel-inner {
  text-align: center;
}

.img-carousel {
  max-width: 40%;
}

// footer

footer {
  z-index: 1020;
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: #55acee;
}
