<div class="container-mockup--height">
  <h1>Produkte</h1>
  <h2>Elektrisch beheizbare Handschuhe mit Lithium-Polymer-Ionen (Li-Po-Ion) Akku-Technologie</h2>
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
    <div class="col-xs-12 col-md-6 col-lg-4 px-0 d-flex align-content-stretch flex-wrap">
      <div class="box">
        <%= image_tag("plus-circle-solid.svg", class: "img-fluid img__product", alt: "Neues Produkt hinzufügen") %>
      </div>
      <div class="box box--bottom box--bottom--overview">
        <p><%= link_to 'Neues Produkt hinzufügen', new_product_path %></p>
      </div>
    </div>
  </div>
</div>
